<!-- Hardcoded social icons for top left -->
<a href="mailto:jordieskarajew@gmail.com" title="Email">
  <i class="fa-solid fa-envelope"></i>
</a>

<a href="https://github.com/jordieskarajew" title="GitHub" rel="external nofollow noopener" target="_blank">
  <i class="fa-brands fa-github"></i>
</a>

<a href="https://www.linkedin.com/in/jordieskarajew" title="LinkedIn" rel="external nofollow noopener" target="_blank">
  <i class="fa-brands fa-linkedin"></i>
</a>
